<?xml version="1.0" encoding="utf-8" ?>

<phpunit bootstrap="./app/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="EpigraphInvalidation's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
